<div class="ui radio checkbox">
  <%= radio_button_tag :choice, maybe_decoy_for(deck_word), false, id: "deck-word" %>
  <%= label_tag :word, maybe_decoy_for(deck_word) %>
</div>

<div class="ui radio checkbox">
  <%= radio_button_tag :choice, decoy_for(deck_word.simp), false, id: "other-deck-word-one"  %>
  <%= label_tag :word, decoy_for(deck_word.simp) %>
</div>

<div class="ui radio checkbox">
  <%= radio_button_tag :choice, another_decoy_for(deck_word.simp), false, id: "other-deck-word-two" %>
  <%= label_tag :word, another_decoy_for(deck_word.simp) %>
</div>
