<div class="ui radio checkbox">
  <%= radio_button_tag :choice, deck_word.word.pinyin, false, id: "deck-word" %>
  <%= label_tag :word, deck_word.word.pinyin %>
</div>

<div class="ui radio checkbox">
  <%= radio_button_tag :choice, decoys(deck_word.word.simp).first.pinyin, false, id: "other-deck-word-one"  %>
  <%= label_tag :word, decoys(deck_word.word.simp).first.pinyin %>
</div>

<div class="ui radio checkbox">
  <%= radio_button_tag :choice, decoys(deck_word.word.simp).last.pinyin, false, id: "other-deck-word-two" %>
  <%= label_tag :word, decoys(deck_word.word.simp).last.pinyin %>
</div>
