<div class="tally ui basic container center aligned">
  Tally of correct answers: <a id="score"></a>
</div>

<div class="ui basic container center aligned basic teal segment" id="deck-container">

    <% @deck_words_per_page.each_with_index do |deck_word, index| %>

      <div class="ui three column centered grid">
        <div class="sixteen wide column centered row"> <!--debug with green-->
          <div class="basic segment deck-section">
            <div class="ui direction buttons deck-section">
              <button id="flip-left-button-<%= index %>" class="ui button" data-animation="flip" data-direction="left" title="Flip Left" data-content="Flip Left">
                <i class="add icon arrow left icon"></i>
              </button>
              <button id="flip-up-button-<%= index %>" class="ui button" data-animation="flip" data-direction="up" title="Flip Up">
                <i class="arrow up icon"></i>
              </button>
              <button id="flip-down-button-<%= index %>" class="ui button" data-animation="flip" data-direction="down" title="Flip down">
                <i class="arrow down icon"></i>
              </button>
              <button id="flip-right-button-<%= index %>" class="ui button" data-animation="flip" data-direction="right" title="Flip Right">
                <i class="arrow right icon"></i>
              </button>
            </div>
          </div> <!-- buttons deck-section-->
        </div> <!-- column green -->

        <div class="sixteen wide column centered row">
            <div class="column"> <!--debug with yellow-->
                <div class="basic segment deck-section">
                  <div class="ui people shape" id="flashcard-<%= index %>">
                    <div class="ui people shape deck-section">
                      <div class="sides flashcard">
                        <div class="active side flashcard">
                          <div class="ui card">
                            <div class="content">
                              <div class="header" id="flashcard-<%= index %>-header">
                                <%= deck_word.word.simp %>
                              </div>
                              <div class="meta" id="flashcard-<%= index %>-question">
                                <a> Select the correct pinyin </a>
                              </div>
                            </div>
                          </div>
                        </div> <!--active side-->
                        <div class="side flashcard">
                          <div class="ui card">
                            <div class="image">
                              <%= image_tag("http://www.newyorker.com/wp-content/uploads/2014/08/Stokes-Hello-Kitty2-1200.jpg") %>
                            </div>
                          </div>
                        </div> <!--image side-->
                        <div class="side flashcard">
                          <div class="ui card">
                            <div class="content">
                              <div class="meta" id="flashcard-<%= index %>-definition">
                                <a> Definition </a>
                              </div>
                              <div class="description">
                                <%= deck_word.word.definition %>
                              </div>
                            </div>
                          </div>
                        </div> <!--definition side-->
                      </div><!--sides-->
                    </div><!--people-->
                  </div> <!--flashcards deck-section -->
                </div> <!--deck-section basic segment-->
            </div> <!--column yellow-->
        </div> <!-- column blue -->

        <div class="sixteen wide column centered row"><!--debug with pink-->
          <div class="basic segment deck-section">
            <div class="ui form choice deck-section" id="flashcard-<%= index %>-choices">
              <%= form_tag :study_sessions, method: :post do %>
                <div class="ui radio checkbox">
                  <%= radio_button_tag :choice, deck_word.word.pinyin, false, id: "deck-word" %>
                  <%= label_tag :word, deck_word.word.pinyin %>
                </div>

                <div class="ui radio checkbox">
                  <%= radio_button_tag :choice, decoys(deck_word.word.simp).first.pinyin, false, id: "other-deck-word-one"  %>
                  <%= label_tag :word, decoys(deck_word.word.simp).first.pinyin %>
                </div>

                <div class="ui radio checkbox">
                  <%= radio_button_tag :choice, decoys(deck_word.word.simp).last.pinyin, false, id: "other-deck-word-two" %>
                  <%= label_tag :word, decoys(deck_word.word.simp).last.pinyin %>
                </div>

                <%= hidden_field_tag :deck_word, deck_word.id  %>
                <%= hidden_field_tag :index, index %>
                <br></br>
                <% if deck_word. == current_deck.last %>
                  <%= submit_tag "Finish", id: "booyeah-done", class: "submit-button ui teal button" %>
                <% else %>
                  <%= submit_tag "Next", id: "next-card", class: "submit-button ui teal button" %>
                <% end %>
              <% end %> <!-- end form -->
            </div><!--deck-section-choices-->
          </div><!--deck-section-->
        </div> <!--column pink-->

      </div> <!-- grid -->


    <% end %> <!-- end iteration -->
</div> <!-- deck container-->

<div class="ui container center aligned basic teal segment">
  <div id="overall progress tracker">
  <!-- report performance across decks -->
  Placeholder for chart
  </div>
</div>


<!-- put script tag and play around with jquery to score with localStorage -->
