<!-- pass score from controller to view? -->
  <!-- <div class="fake">
    Score:<a id="score"></a>
  <!-- </div> <!--experimenting with local storage-->

<div class="ui basic container center aligned basic teal segment" id="deck-container">

    <% @deck_words_per_page.each_with_index do |deck_word, index| %>

      <div class="ui three column centered grid">
        <div class="sixteen wide column centered row green">
                <div class="basic segment deck-section">
                  <div class="ui direction buttons deck-section">
                    <button id="flip-over-button-<%= index %>" class="ui button" data-animation="flip" data-direction="over" title="Flip Over">
                      Flip Card Over
                    </button>
                    <button id="flip-back-button-<%= index %>" class="ui button" data-animation="flip" data-direction="back" title="Flip Back">
                      Flip Card Back
                    </button>
                  </div>
                </div> <!-- buttons deck-section-->
        </div> <!-- column green -->

        <div class="sixteen wide column centered row blue">
            <div class="column yellow">
                <div class="basic segment deck-section">
                  <div class="ui people shape" id="flashcard-<%= index %>">
                    <div class="ui people shape deck-section">
                      <div class="sides flashcard">
                        <div class="active side flashcard">
                          <div class="ui card">
                            <div class="content">
                              <div class="header" id="flashcard-<%= index %>-header">
                                <%= deck_word.word.simp %>
                              </div>
                              <div class="meta" id="flashcard-<%= index %>-question">
                                <a> Select the correct pinyin </a>
                              </div>
                            </div>
                          </div>
                        </div> <!--one side-->
                        <div class="side flashcard">
                          <div class="ui card">
                            <div class="image">
                              <img src="http://www.newyorker.com/wp-content/uploads/2014/08/Stokes-Hello-Kitty2-1200.jpg", width="50px">
                            </div>
                          </div>
                        </div> <!--one side-->
                      </div><!--sides-->
                    </div><!--people-->
                  </div> <!--flashcards deck-section -->
                </div> <!--deck-section basic segment-->
            </div> <!--column yellow-->
        </div> <!-- column blue -->

        <div class="sixteen wide column centered row pink">
          <div class="basic segment deck-section">
            <div class="ui form choice deck-section" id="flashcard-<%= index %>-choices">
              <%= form_tag :study_sessions, method: :post do %>
                <%= radio_button_tag :choice, deck_word.word.pinyin, false, id: "deck-word" %>
                <%= label_tag :word, deck_word.word.pinyin %>

                <%= radio_button_tag :choice, decoys(deck_word.word.simp).first.pinyin, false, id: "other-deck-word-one"  %>
                <%= label_tag :word, decoys(deck_word.word.simp).first.pinyin %>

                <%= radio_button_tag :choice, decoys(deck_word.word.simp).last.pinyin, false, id: "other-deck-word-two" %>
                <%= label_tag :word, decoys(deck_word.word.simp).last.pinyin %>

                <%= hidden_field_tag :deck_word, deck_word.id  %>
                <%= hidden_field_tag :index, index %>
                <br></br>
                <% if deck_word.id == @last_deck_word.id %>
                  <%= submit_tag "Finish", id: "booyeah-done"%>
                <% else %>
                  <%= submit_tag "Next", id: "next-card" %>
                <% end %>
              <% end %> <!-- end form -->
            </div><!--deck-section-choices-->
          </div><!--deck-section-->
        </div> <!--column pink-->

      </div> <!-- grid -->

      <div class="ui divider"></div>

    <% end %> <!-- end iteration -->
</div> <!-- deck container-->

<div class="ui container center aligned basic teal segment">
  <div id="overall progress tracker">
  <!-- report performance across decks -->
  Placeholder for chart
  </div>
</div>


<!-- put script tag and play around with jquery to score with localStorage -->
