<!DOCTYPE html>
<html>
<head>
  <title>Lingo App</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/card.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/shape.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/button.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags%>
</head>
<body>
  <%= render partial: 'layouts/navbar' %>

  <main class="container">

      <% flash.each do |name, message| %>
        <%= content_tag :div, message, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>

  </main>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/shape.min.js"></script>

<!--Google Charts sample-->
  <!-- load the API -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

     <script type="text/javascript">
       google.charts.load('current', {'packages':['corechart']});
       google.charts.setOnLoadCallback(drawSeriesChart);

     function drawSeriesChart() {
      //  need to grab user_id and deck_id dynamically - call on elements?
      // do I change the url to production link?
       var jsonData = $.ajax({
         method: "GET",
         url: '/api/v1/users/scores?deck_id=1',
         dataType: "json",
         async: false,
         success: function(someData){
            console.log("successful");
            console.log(someData)
            // debugger; 
          },
          error: function(){
            console.log('failure');
          }
       }).responseText
       var formattedData = [['ID', 'Average Deck Score', 'Study Rate Per Week', 'Mastery Level']]
       for (var n = 0; n < jsonData.count; n++){
         var toAppend = [jsonData[n]["user_id"], jsonData[n]["average_deck_score"], jsonData[n]["study_rate_per_week"], jsonData[n]["mastery_level"]]
         formattedData.push(toAppend)
       }
 // need to check how that comes back
       var data = google.visualization.arrayToDataTable(jsonData);

       var options = {
         title: 'Lingo App Users ' +
                '- How are they faring?',
         hAxis: {title: 'Average Deck Score'},
         vAxis: {title: 'Study Rate Per Week'},
         bubble: {textStyle: {fontSize: 11}}
       };



       var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
       chart.draw(data, options);
     }
     </script>
</html>
